#container{
    height: 70vh;
    width: 100%;
    background-color: blanchedalmond;
  
}
.box{
    height:100px;
    width: 100px;
    border: 2px solid black;
    display: block;
}
#box1{
    background-color: yellow;
    display: inline-block;
}
#box2{
    background-color:green;
    display: inline-block;
}
#box3{
    background-color: brown;
    display: inline-block;
}